html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

h5 {
  margin-top: 0px;
  margin-bottom:10px;
  font-size: 13px;
}

.flex-container {
  display: flex;
  height: 100%;
}

.flex-left {
  width: 350px;
}

.flex-right {
  flex: 1;
}

#mapContainer {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#textbox {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 14px;
}

#textbox > h5 {
  padding-top: 10px;
}

#menu {
background: #fff;
position: absolute;
z-index: 1;
top: 250px;
right: 10px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0, 0, 0, 0.4);
font-family: 'Open Sans', sans-serif;
}

  #menu a {
  font-size: 13px;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
  }

    #menu a:last-child {
    border: none;
    }

    #menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
    }

    #menu a.active {
    background-color: #3887be;
    color: #ffffff;
    }

    #menu a.active:hover {
    background: #3074a4;
    }



/* props to Lazarus for this legend */
.legend {
    background-color: #fff;
    border-radius: 3px;
    top: 10px;
    right: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    font-size: 13.5px;
    padding: 20px;
    position: absolute;
    z-index: 1;
}

.legend > div {
  padding-top: 5px;
  height: 13.5px;
  vertical-align: middle;
}

.legend > div > span {
    display: inline-block;
    height: 13.5px;
    margin-right: 5px;
    width: 13.5px;
    vertical-align: middle;
}
